body {
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
    margin: 40px 20px 40px 20px;
    text-align: center;
    
}

h1 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

p {
    color: #666666;
    font-size: 16px;
}

button, input[type="button"] {
    background-color: #4c74af;
    font-family: Roboto, sans-serif;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

p#opArea {
    margin: 20px 120px 20px 120px;
    font-size: 18px;
    color: #222222;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}